body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-container {
  padding: 0 100px;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-btn {
  background-color: #9442ff;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  font-weight: 600;
  font-size: larger;
  padding: 0 20px;
}

.skills {
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid gray;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}